[user]
	email = petr.rajtslegr@gmail.com
	name = Petr Rajtslegr
[init]
	defaultbranch = main
[core]
	excludesfile = /Users/petr/.gitignore_global
	ignorecase = false

[includeIf "gitdir:~/Developer/prusa/"]
    path = ~/.gitconfig-prusa